[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
tensorflow = "*"
uvicorn = "*"
sqlalchemy = "*"
aiohttp = "*"
aiofiles = "*"
librosa = "*"
pymysql = "*"
sqlalchemy-utils = "*"

[dev-packages]
yapf = "*"
pytest = "*"
pylint = "*"
flake8 = "*"

[requires]
python_version = "3.8"
