.banner {
  background-image: url("https://deej-ai.online/records.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}